# Python
.venv/
env/
venv/
# 深度学习与大模型相关限制
data/
*.bin
*.pth
*.onnx
*.safetensors
.env
__pycache__/
*.pyc
# Go 编译产物
/backend-go/backend-go
*.exe
*.exe~
*.dll
*.so
*.dylib
# 系统与 IDE 配置
.DS_Store
.vscode/
.idea/